* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #efefef;
}

.wrapper {
	width: 80%;
	padding: 40px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background-color: white;
	font-size: 18px;
}

button {
	display: block;
	min-width: 100px;
	margin: 20px auto;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 10px;
	font-weight: 700;
	color: white;
	text-decoration: none;
	background: rgb(57, 114, 199);
	box-shadow: 0 -3px rgb(55, 66, 167) inset;
	transition: 0.2s;
}

button:hover {
	background: rgb(48, 55, 167);
}

button:active {
	background: rgb(56, 71, 147);
	box-shadow: 0 3px rgb(63, 71, 147) inset;
}

.results {
	padding: 20px;
}

.results h2 {
	margin-bottom: 20px;
	text-align: center;
}

.question {
	padding: 20px;
}

.question ul {
	list-style: none;
}

.answer {
	padding: 4px 15px;
}

.answer label {
	cursor: pointer;
}

.modal-window {
	z-index: 110;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 350px;
	padding: 20px 30px;
	background-color: #eaeaea;
	transform: translate(-50%, -50%);
	border-radius: 5px;
}

.modal-window h4 {
	text-align: center;
}

.overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}

